.About {
  width: 58%;
  height: 55%;
  border-radius: 18%;
  margin-left: 20%;
  background-color: rgb(255, 244, 244);
  margin-top: 5%;
  margin-bottom: 4%;
  opacity: 0.7;
}

.About p {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.About h2 {
  font-size: 3rem;
}
