
body {

  background: url("../src/Child.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;

}

.App {
  text-align: center;
  
}

.A {
  background-image: url("http://albums.timg.co.il/ForumsThumb/forumsMediumSize/170802847.png?time=0");
  background-size: cover;
  background-size: 8.5%;
  height: 3rem;
  width: 100rem;
}
.A h1 {
  font-family: "Amatic SC", cursive;
  color: aliceblue;
  text-align: center;
}

#root {
  position: relative;
  min-height: 100vh;
}

.App .AllMenu a {
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 2rem;
  
}
.App .AllMenu a:hover {
  color: rgb(199, 194, 197);
}

.App .ParentsMenu a {
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 2rem;
}

.App .ParentsMenu a:hover {
  color: rgb(199, 194, 197);

}

.App .VolunteersMenu a {
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 18px;
}

.App .VolunteersMenu a:hover {
  color: green;
}

.navbar-expand .navbar-nav .nav-link {
  position: fixed;

}


.AllMenu.container {
  margin-left: 15rem;

}

.VolunteersMenu .container {
  margin-left: 300px;
}
