
.maatefer_two {
  display: flex;
  margin-bottom: 3%;

}

.whatsapp {
  width: 12rem;
  margin-top: 1%;
  margin-right: 90%;
  
}
.whatsapp h5 {
 width: 100%;
  font-family: "Amatic SC", cursive;
  font-size: 140%;
  margin-left: 40%;
  color: white;
  

}
.whatsapp img{
  width: 15%;
  height: 15%;
  margin-left: 74%;
  
}
.whatsapp img:hover{
 width: 16%;
 
}


.contact_us_maatefet {
  width: 80%;
  margin-top: 5%;
  display: flex;
  direction: rtl;
}

.maatefet_form {
  width: 60%;
  text-align: right;
  direction: rtl;
  margin-right: 3%;
}

.card{
  margin-right: 5%;
}

.your_details {
  font-family: "Amatic SC", cursive;
  font-size: 250%;
  text-align: center;
  margin-left: 44%;
}


.buttonSend {
  width: 100%;
  background-color: rgb(165, 24, 24);
}

