.HomePage {
  margin: auto;
}
.HomePage1 {
  text-align: center;
  position: relative;
  font-family: arial;
  font-size: 1.1em;
  background: rgba(212, 200, 200, 0.589);
  border: rgba(17, 9, 9, 0.589) solid 1px;
  color: black;
  border-radius: 22rem;
  padding: 4.1rem;
  max-width: 22.4rem;
  left: 35rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.HomePage1 h3{
  font-weight: bold;
}
.HomePage2 h3{
  /* text-decoration: underline; */
  font-weight: bold;
  color: black;

}
.HomePage2{
  text-align: center;
}
.HomePage2 h2{
  text-decoration: underline;
  /* font-weight: bold; */
}
.HomePage2 p{
  font-size: x-large;
  font-weight: bolder;
  font-family: cursive;
  color: rgb(0, 0, 0);
  font-family: fantasy;


}
/* .HomePage2 {
  background: rgba(212, 200, 200, 0.589);
  border: rgba(17, 9, 9, 0.589) solid 1px;
  width: 20px;
  padding: 25px;
  border-radius: 50%;
  position: absolute;
  right: 36%;
} */
/* .HomePage3 {
  background: rgba(212, 200, 200, 0.589);
  border: rgba(17, 9, 9, 0.589) solid 1px;
  width: 10px;
  padding: 15px;
  border-radius: 50%;
  position: absolute;
  right: 33%;
  bottom: 33%;
} */
