.Login {
  margin: auto;
  background-color: rgba(17, 9, 9, 0.233);
  width: 22%;
  height: 26rem;
  margin-top: 4rem;

}

.Login h6{
  margin-top: 4rem;
font-size: 22px;
color: rgb(42, 42, 255);
}

.Login input {
  background-color: transparent;
  margin: 10px;
  border-radius: 8px;
  text-align: right;
  width: 86%;
  height: 40px;
  margin-top: 50px;
  border: none;
  border-bottom: black solid 1px;
  font-weight: bolder;
}
.Login button{
  background-color: rgb(42, 42, 255);
  color: white;
  margin-top: 4rem;
  border-radius: 8px;
  border: black solid 1px;
  width: 60%;
  height: 2rem;
 
}

.Login ::placeholder{
  color: white;
}

