.Login {
  margin: auto;
  background-color: rgba(17, 9, 9, 0.233);
  width: 22%;

}

.Login h6{
  margin-top: 24%;
font-size: 22px;
color: rgb(42, 42, 255);
}
.Icon{
  font-size: 4rem;
}

.Login input {
  background-color: transparent;
  margin: 10%;
  text-align: right;
  width: 86%;
  padding: 2%;
  margin-top: 14%;
  border: none;
  border-bottom: black solid 1px;
  font-weight: bolder;
}
.Login button{
  background-color: rgb(42, 42, 255);
  color: white;
  margin-top: 12%;
  border-radius: 7px;
  border: black solid 1px;
  width: 60%;
  height: 4%;
 
}

.Login ::placeholder{
  color: white;
}

@media only screen and (max-width: 1520px) {
  .ParentsLogin {
    height: 2300px;
  }
  .VolunteersLogin {
    height: 2200px;
  }
  .Login{
    margin-top: 15%;
    height: 85%;
    width: 70%;
  }
  .Login h6{
  font-size: 6rem;
  color: rgb(42, 42, 255);
  }
.Icon{
  font-size: 12rem;
  margin-top: 6%;
}
.Login input{
  font-size: 4rem;
}
.Login button{
  font-size: 4rem;
  margin-top: 45%;
  height: 8rem;
}
}