.Uploading_documents {
  margin: auto;
  width: 40%;
  margin-top: 3%;
  background-color: rgba(253, 245, 245, 0.425);
  border: 2px black solid;
}

.FristANDLast input {
  width: 50%;
  text-align: right;
  margin: 2%;
}


.Uploading_documents button {
  margin-top: 15%;
  width: 100%;

}
.Uploading_documents h5{
  margin-left: 38%;
  text-align: center;
  margin-top: 2%;
}